:root {
    --light-vio: #635985;
    --medium-vio: #443C68;
    --dark-vio: #393053;
}
 

*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    height: 800px;
}
body {
    margin: 0;
}

nav .login-button {
    appearance: button;
    width: 130px;
    height: 50px;
    font: Roboto;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 2px solid white;
    letter-spacing: 1px;
    border-radius: 15px;
    background: #443C68;
    transition: .5s;
}

nav .login-button:hover{
    color: #443C68;
    background: white;
}


.btn{
    width: 168px;
    height: 48px;
    border-radius: 10px;
    background: var(--medium-vio);
    position: relative;
    transform: translateY(70%) translateX(20%);
    transition: .5s;
}

.btn:hover{
    background: var(--dark-vio);
}

.btn a{
    color: #ffffff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    position: relative;
    top: 30%;
    left: 12%;
    text-decoration: none;
}

.wrapper{
    width: 62%;
    margin: 0 auto;
}

.navbar{
    background: var(--dark-vio);
    width: 1920px;
    height: 122px;
    border-bottom: 5px solid #443C68;
}

.hero-section{
    width: 1920px;
    height: 830px;
    position: absolute;
    top: 122px;
    background-image: url("images/earthquake2.png") ;
}

.bbtn{
    height: 120px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 27px;
}

nav .logo{
    color: #FFF;
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 35px */
}

nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
}

nav ul li a {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    text-decoration: none;
    transition: transform .5s;
}

nav ul li a:hover{
    text-decoration: underline;
}
.right{
    color: #FFF;
    text-align: right;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 64px */
    position: relative;
    transform: translateY(120%);
}

.bottom-section {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10%;
    transform: translateY(250%);
}

.content{
    color: #393053;

text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 12px */
letter-spacing: 0.6px;
position: relative;
top: 10%;
transform: translateY(15%) translateX(19%);
}



.form-box{
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


.top h2{
    font: Outfit;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.login-container {
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 5px solid #635985;
    background: white;
    border-radius: 20px;
    row-gap: 10px;
}

.login-container input{
    width: 80%;
    background: transparent;
    color: var(--dark-vio);
    border: none;
    border-bottom: 2px solid #635985;
    outline: none;
    height: 50px;
    font-size: 15px;
    font-weight: lighter;

}
.login-container input::placeholder{
    color: var(--dark-vio);
}
.two-forms {
    gap:10px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.top {
    color: var(--dark-vio);
}

.top a{
    color: var(--dark-vio);
}

.two-col {
    color: var(--dark-vio);
    gap: 50px;
    display: flex;
    padding-top: 15%;
}

.two-col a{
    color: var(--dark-vio);
}
.remember{
    display: flex;

}

.remember input{
    height: 15px;
}

.login-container button{
    width: 80%;
    background: var(--dark-vio);
    color: white;
    border-radius: 20px;
    height: 50px;
    transform: translateY(50%);
}