:root {
    --light-vio: #635985;
    --medium-vio: #443C68;
    --dark-vio: #393053;
}
 

*,
*::after,
*::before {
    box-sizing: border-box;
}

html{
    height: 100%;
    
}
body {
    
    margin: 0;
    
}




nav .login-button {
    appearance: button;
    width: 130px;
    height: 50px;
    font: Roboto;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 2px solid white;
    letter-spacing: 1px;
    border-radius: 15px;
    background: #443C68;
    transition: .5s;
}

nav .login-button:hover{
    color: #443C68;
    background: white;
}


.button{
    color: #FFF;
    font-weight: 700;
    width: 168px;
    height: 48px;
    border-radius: 10px;
    background: var(--medium-vio);
    position: relative;
    transform: translateY(70%);
    transition: .5s;
    justify-content: center;
    align-self: center;
}

.button:hover{
    background: var(--dark-vio);
}

.button a{
    align-self: center;
    color: #ffffff;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    position: relative;
    top: 30%;
    left: 12%;
    text-decoration: none;
}

.wrapper{
    width: 62%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    background: var(--dark-vio);
    width: 100%;
    height: 122px;
    border-bottom: 5px solid #443C68;
}

.hero-section{
    width: 100%;
    height: 87.2%;
    position: absolute;
    top: 122px;
    background-image: url("images/earthquake.jpg") ;
    background-size: cover;
}
    

.bbtn{
    height: 120px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
}

.bbtn button{
    transform: translateX(20%) translateY(70%);
}

nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 27px;
}

nav .logo{
    color: #FFF;
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 35px */
}

nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
}

nav ul li a {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    text-decoration: none;
    transition: transform .5s;
}

nav ul li a:hover{
    text-decoration: underline;
}
.right{
    color: #FFF;
    text-align: right;
    font-family: Outfit;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    
    position: relative;
    transform: translateY(120%);
    height: 25vh;
}
  
.animation {
    height: 30%;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0rem 0rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -10%;}
    30% {margin-top: -10%;}
    40% {margin-top: -18%;}
    60% {margin-top: -18%;}
    70% {margin-top: -10%;}
    80% {margin-top: -10%;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  

.bottom-section {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transform: translateY(300%);
}

.content{
    color: #393053;

text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 12px */
letter-spacing: 0.6px;
position: relative;
top: 10%;
transform: translateY(15%) translateX(19%);
}



.form-box{
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
}


.top h2{
    font: Outfit;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.login-container {
    padding: 50px;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 5px solid #635985;
    background: white;
    border-radius: 20px;
    row-gap: 10px;
}

.getting-details{
    align-self: left;
    width: 100%;
}

.getting-details input{
    width: 100%;
}

.two-forms {
    gap:10px;
    display: flex;
    flex-direction: row;

}

.top {
    color: var(--dark-vio);
}

.top a{
    color: var(--dark-vio);
}

.two-col {
    color: var(--dark-vio);
    gap: 50px;
    display: flex;
    padding-top: 15%;
}

.two-col a{
    color: var(--dark-vio);
}
.remember{
    display: flex;

}

.remember input{
    height: 15px;
}


.register-form{
    
    justify-content: center;
    padding: 50px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 5px solid #635985;
    background: white;
    border-radius: 20px;
    row-gap: 15px;
    transform: translateY(2%);
    margin: 0 auto;
}
.apply {
    row-gap: 300px;
    align-self: left;
}

.input-box{
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.input-box input{
    max-width: 100%;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
.input-box input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
.input-box input:hover {
    outline: 1px solid lightgrey;
  }

.description {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.description textarea{
    max-width: 100%;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -22px;
}

.description textarea:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.description textarea:hover {
    outline: 1px solid lightgrey;
}

.account-details{
    gap:10px;
    display: flex;
    flex-direction: row;
}

.house-details{
    gap:10px;
    display: flex;
}
.card-details{
    gap:10px;
    display: flex;
}

.apply h1{
    font-size: 18px;
}


.input-box{
    align-self: left;
}














@media screen and (max-width: 1200px) {
    .wrapper {
        width: 80%;
    }

    .hero-section {
        top: 172px; 
    }

    .right {
        font-size: 32px;
        transform: translateY(80%);
    }

    nav .logo {
        font-size: 28px;
    }

    .bottom-section {
        transform: translateY(200%);
    }

    .content {
        transform: translateY(10%) translateX(15%);
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    .navbar {
        height: auto;
        
    }

    nav .logo {
        font-size: 25px;
    }

    nav ul {
        gap: 30px;
    }

    .right {
        font-size: 28px;
        text-align: center;
        transform: translateY(20%);
    }

    .hero-section {
        height: auto;
        top: 0;
    }

    .content {
        transform: translateY(10%) translateX(0%);
    }

    .button {
        transform: translateY(0) translateX(0%);
    }

    .bottom-section {
        flex-direction: column;
        align-items: center;
        transform: translateY(0);
    }

    .bbtn {
        width: 100%;
        text-align: center;
    }
}